.container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper{
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
  }
  
  .github{
    width: 60px; 
    height: 60px; 
    background-image: url('/github.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    outline: none; 
    border-radius: 45px;
  }

  .buttonContainer{
    display: flex;
  }